
.eqx-dash--nav-button {
    color: #ffffff;
    display: inline-block;
}
    
    .eqx-dash--nav-button:hover {
        cursor: pointer;
    }

.eqx-dash--divider-div {
    background-color: #ffffff;
    margin: 1em 0;
    width: 100%;
    height: 1px;
}

.eqx-dashboard--side-menu-h2 {
    color: #ffffff;
    font-size: 22px;
    padding: 0.5rem 0;
}

    .eqx-dashboard--side-menu-h2 a {
        text-decoration: none !important;
    }

#eqx-dashboard--mobile-nav-option-text {
    color: #C7C7C7;
    font-size: 14px;
    padding-left: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    text-transform: uppercase;
}

    #eqx-dashboard--mobile-nav-option-text a {
        text-decoration: none !important;
    }

    #eqx-dashboard--mobile-nav-option-text:hover {
        color: #0dcaf0;
        text-decoration: none;
        
    }

.eqx-dash--sign-out {
    font-size: 18px !important;
}

.desktop .inverted .bars .icon .mobile {
    font-size: 10px;
    height: 1em !important;
    width: 1em !important;
}

.eqx-dash--left-nav-section {
    background: rgb(12,20,39);
    padding: 0 0 0 0.6em;
    height: 100vh;
    /* width: 12%; */
    width: 17em;
    float: left;
    overflow-y: auto;
    overflow-x: hidden;
}

.eqx-dash--left-nav-section-minimized {
    height: 100vh;
    width: 2.5em;
    background: rgb(12,20,39);
}

.eqx-dash--right-content-section {
    position: fixed;
    left: 17em;
    width: calc(100% - 17em);
    height: 100%;
    /* height: calc(100% - 1em);
    width: calc(100vw - 19em); */
    background-color: rgb(249,250,251);
    /* background-color: red; */
    overflow-y: auto;
    padding: 0 1em 1em 1em;
    /* float: right; */
}

.eqx-dash--right-content-section-full-screen {
    height: 100vh;
    width: calc(100% - 2.5em);
    background-color: rgb(249,250,251);
    overflow-y: auto;
    padding: 0 1em 1em 1em;
}

/* Accordion and Additional Styling */


.eqx-dash--side-menu-h2 {
    text-align: left;
    /* font-size: 1.15vw; */
    font-size: 22px;
    color: white;
    padding: 10px 0;
}

.eqx-dash--mobile-menu-h2 {
    text-align: left;
    font-size: 24px;
    color: white;
    padding: 1.5vh 0;
}

#eqx-dash--side-menu-collapse {
    padding: 0;
    transition: .2s;
    background-color: rgba(0, 0, 0, 0);
    padding-right: 12px;
    padding-top: .25em;
}

#eqx-dash--side-menu-collapse:hover {
    cursor: pointer;
    /* padding-right: 7px; */
}

    #eqx-dash--side-menu-collapse h2:hover {
        transition: .2s;
        color: rgb(56, 187, 56);
    }


#eqx-dash--mid-nav {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 90vh;
    margin: 0;
    padding: 0;
    border-bottom-style: solid;
    border-top-width: 2px;
    border-top-color: rgb(214, 214, 214);
}

#eqx-dash--mid-nav-option {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(155, 155, 155);
    transition: .2s;
    padding: 5px 7%;
    min-width: font;
    font-size: 18px;
}

    #eqx-dash--mid-nav-option:hover {
        background-color: rgba(255, 255, 255, 0.075);
        /* padding-right: 12%; */
        text-decoration: none;
        color: rgb(56, 187, 56);
    }

#eqx-dash--top-nav-mobile {
    /* display: flex; */
    background-color: #232526;
    flex-direction: row;
    width: 100vw;
    margin: 0;
    /* height: 2em; */
    padding: 0em 1em;
    justify-content: space-between;
    align-items: center;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: rgb(214, 214, 214);
    text-align: center !important;
}

.eqx-dash--nav-options-cont-mobile {
    position: absolute;
    top: 4%;
    left: 0;
    width: 100vw;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 5%;
    background-color: #232526e8;
}

.eqx-dash--hide-nav-options-cont-mobile {
    display: none;
}

#eqx-dash--nav-option-mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 6%;
}

#eqx-dash--nav-option-text-mobile {
    /* font-size: .6em; */
    font-size: 16px;
    font-weight: 500;
    color: rgb(199, 199, 199);
    margin-left: 1.5rem;
    text-align: left !important;
    text-transform: uppercase;
}


.eqx-dash--menu-icon {
    color: rgb(46,204,64);
}




.beta, .beta:hover, .beta:active, .beta:visited, .beta:focus {
    color: #2196f3;
}

.eqx-dash--dLink {
    padding: 0.5em 0 0.5em 1em;
}

.eqx-dash--dLinkText {
    padding-left: 1em;
    text-align: left;
}












.eqx-dash--side-nav-desktop {
    padding: 0 0 0 0.65em;
}