/*
    ---Bootstrap color themes---
    Primary:    #0d6efd
    Secondary:  #6c757d
    Success:    #198754
    Danger:     #dc3545
    Warning:    #ffc107
    Info:       #0dcaf0
    Light:      #f8f9fa
    Dark:       #212529
*/

/* .container {
    background-color: #ffffff !important;
    /* margin-top: 1.5em; /
    overflow-y: auto;
    height: calc(100vh - 3em);

    /* My own additions /
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    margin: 0.25rem auto 0 auto;
    width: 98%;
    min-width: 98%;
} */

.container-mobile {
    background-color: #ffffff;
    /* margin-top: 1.5em; */
    overflow-y: auto;
    height: calc(100vh - 3em);

    /* My own additions */
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    margin: 0.25rem auto 0 auto;
    /* width: 98%;
    min-width: 98%; */
}

.container-desktop {
    background-color: #ffffff;
    /* margin-top: 1.5em; */
    overflow-y: auto;
    /* height: calc(100vh - 3em); */

    /* My own additions */
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    margin: 0.25rem auto 0 auto;
    width: 100%;
    min-width: 100%;
    height: calc(100vh - 1.25em);
}

.center-text {
    text-align: center;
}

.custom-card {
    background-color: beige;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.custom-card-2 {
    background-color: rgba(55,55,55,1.0);
    padding: 0.5rem 0 1px 0;
    height: auto;
}

.inline-block {
    display: inline-block;
}

.italic {
    font-style: italic;
}

.middle-align {
    display: block;
    margin: 0 auto;
    width: 99.9%;
}

.no-link {
    color: black !important;
}

.page-link-mobile {
    background-color: #55AF86;
    border-radius: 25px;
    box-shadow: 0px 0px 10px #000000;
    color: #f8f9fa;
    padding: 3.5em 0 0 0;
    text-decoration: none;
    width: 100%;
    height: 9em;
}

.page-link-desktop {
    background-color: #55AF86;
    border-radius: 25px;
    box-shadow: 0px 0px 10px #000000;
    color: #f8f9fa;
    padding: 3.5em 0 0 0;
    text-decoration: none;
    width: 100%;
    height: 9em;
}

#page-title-h1-mobile {
    color: #669999;
    font-family: 'Lato', 'Verdana', sans-serif;
    font-style: italic;
    font-weight: bold;
}

#page-title-h1-desktop {
    color: #669999;
    font-family: 'Lato', 'Verdana', sans-serif;
    font-style: italic;
    font-weight: bold;
}