@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

#landing-page-title-h1 {
    color: green;
    font-family: 'Lato', 'Verdana', sans-serif;
    font-style: italic;
}

.landing-page-link {
    background-color: #55AF86;
    border-radius: 25px;
    box-shadow: 0px 0px 10px #000000;
    color: #f8f9fa !important;
    padding: 3.5em 0 0 0;
    text-decoration: none !important;
    width: 100%;
    height: 9em;
}