.quiz--answer-correct-mobile {
    color: green;
}

.quiz--answer-correct-desktop {
    color: green;
}

.quiz--answer-incorrect-mobile {
    color: red;
}

.quiz--answer-incorrect-desktop {
    color: red;
}